.title {
    text-align: center;
    padding-top: 35vh;
}

.logInDiv {
    text-align: center;
    padding-top: 35vh;
}

.signUpDiv {
    text-align: center;
    padding-top: 30vh;
}

.coWorkerHeader {
    display:  inline-block
}

table {
    text-align: center;
}

th {
    padding: 10px;
}

td {
    padding: 10px;
}